/*--------------- google font ---------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*--------------- variable css ---------------*/
:root {
  --body-color: hsl(31, 62%, 80%);
  --section-color: hsl(48, 76%, 94%);
  --primary-color: hsl(12, 100%, 39%);
  --text-color: hsl(234, 100%, 8%);
}

/*--------------- base ---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
}

/*--------------------------------------
# common
----------------------------------------*/
section {
  min-height: 100vh;
  width: 100%;
  padding: 10rem 20% 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--primary-color);
  border-radius: 40px;
  box-shadow: 0 0 1rem var(--primary-color);
  font-size: 1.6rem;
  color: var(--section-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: box-shadow 0.5s;
}

.btn:hover {
  box-shadow: none;
  text-shadow: 0 0 1px currentColor;
}

.section-heading {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
}

.section-img {
  width: 25vw;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px #7b7b7b;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-4 {
  --line-clamp: 4;
}

/*--------------------------------------
# header & navbar styling 
----------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20%;
  background: var(--body-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo-img {
  width: 45px;
  cursor: pointer;
}

.nav__link {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.25s ease;
}

.nav__active,
.nav__link:hover {
  color: var(--primary-color);
}

/*--------------------------------------
# home section styling 
----------------------------------------*/
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.home__content {
}

.home__heading-name {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.3;
}

.home__heading-welcome {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.home__icon-hand {
  width: 25px;
}

.home__heading-desc {
  font-size: 3.2rem;
  font-weight: 700;
}

.home__heading-desc span {
  color: var(--primary-color);
}

.home__desc {
  margin-top: 20px;
  font-size: 1.6rem;
  width: 455px;
  line-height: 1.67;
}

/* .home__socials {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.home__social-link {
  margin: 3rem 1.5rem 3rem 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.2rem solid var(--primary-color);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: all 0.25s ease;
}

.home__social-link:hover {
  background: var(--primary-color);
  text-shadow: 1px 0 8px currentColor;
  color: var(--section-color);
  box-shadow: 0 0 1px var(--primary-color);
}

.home__img {
  animation: floatImage 4s ease-in-out infinite;
  object-position: left;
  height: 25vw;
  object-position: top;
  background-image: var(--body-color);
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

/*--------------------------------------
# about section styling 
----------------------------------------*/
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
  background: var(--section-color);
}

.about__heading-title {
  line-height: 1.2;
}

.heading-text {
  color: var(--primary-color);
}

.about__heading-desc {
  font-size: 2.6rem;
}

.section-desc {
  margin: 2rem 0 3rem;
  font-size: 1.6rem;
  line-height: 1.67;
}

.about__img {
  object-position: top;
  height: 25vw;
}

/*--------------------------------------
# services section styling 
----------------------------------------*/
.services__row {
  margin-top: 5rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.service__box {
  /* min-height: 358px; */
  flex: 1 1 30rem;
  background: var(--section-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--body-color);
  transition: all 0.5s ease;
}

.service__box:hover {
  border-color: var(--primary-color);
  transform: scale(1.02);
}

.services__box-icon {
  font-size: 7rem;
  color: var(--primary-color);
}

.services__box-title {
  font-size: 2.6rem;
}

.services__box-desc {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.services__btn {
  margin-top: 3rem;
}
/*--------------------------------------
# project section styling 
----------------------------------------*/

.project {
  background: var(--section-color);
}

.project__heading-title {
}

.project__list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  align-items: center;
}

.project__box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--body-color);
  overflow: hidden;
  display: flex;
}

.project__img {
  width: 100%;
  transition: transform 0.5s ease;
}

.project__img:hover {
  transform: scale(1.1);
}

.project__layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 4rem;
  background: linear-gradient(#00000080, var(--primary-color));
  color: var(--section-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  text-align: center;
}

.project__box:hover .project__layer {
  transform: translateY(0);
}

.project__layer-title {
  font-size: 3rem;
}

.project__layer-desc {
  font-size: 1.6rem;
  margin-top: 0.3rem;
}

.project__box-link {
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;
  background: var(--text-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.project__box-icon {
  font-size: 1.5rem;
  color: var(--section-color);
}

/*--------------------------------------
# contact section styling 
----------------------------------------*/
.project__heading-title {
  margin-top: 3rem;
}

.contact-form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.input-box {
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.contact-input, .contact-textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background: var(--section-color);
  border-radius: .8rem;
  color: var(--text-color);
  margin: 0.7rem 0;
}

.contact-input {
  width: 49%;
}

.contact-textarea {
  /* resize: none; */
}

.contact-submit {
  margin-top: 2rem;
  cursor: pointer;
}
/*--------------------------------------
# footer section styling 
----------------------------------------*/
